.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header {
    font-size: 15vw;
    font-weight: 500;
}
.image {
    width: 17.5vw;
    height: 17.5vw;
}
.text {
    font-size: max(2.75vw, 17.5px);
    padding: 0px 50px;
}