# dependencies
/road-ai-website/node_modules
/node_modules
/road-ai-website/.pnp
/.pnp
.pnp.js

# testing
/road-ai-website/coverage
/coverage

# next.js
.next/
.next
/.next/
/road-ai-website/.next/
/road-ai-website/out/
/out/

# production
/road-ai-website/build
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*.10
*.pyc
server/yolov3.pt
